<!DOCTYPE html>
<html lang="en" ng-app='jxrl'>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>联系</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="css/index.css">
	
</head>
<body>
	
	<!-- 导航条 -->
	<div class="container-fluid jxrl-container">
	  	<nav class="navbar navbar-static-top jxrlnav" role="navigation">
		    <div class="container jxrl-container">
			    <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </button>
	     		 	<a href="#">
	       		 		<img src="img/top_logo.png">
	   	   		 	</a>
	    	    </div>
	    	  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	     			<ul class="nav navbar-nav navbar-right row navlink">
	       				<li class="col-lg-2 col-md-2 col-xs-12 nav-ico">
		       				<a href="index.html">
			       				<i class="iconfont">&#xe60a;</i>
			       				<p>首页</p>
		       				</a>
	       				</li>
	        			<li class="col-lg-2 col-md-2 col-xs-12 nav-ico">
	        				<a href="about.html">
		        				<i class="iconfont">&#xe607;</i>
		        				<p>关于</p>
	        				</a>
	        			</li>
	        			<li class="col-lg-2 col-md-2 col-xs-12 nav-ico">
	        				<a href="news.html">
		        				<i class="iconfont">&#xe88a;</i>
		        				<p>新闻</p>
	        				</a>
	        			</li>
	        			<li class="col-lg-2 col-md-2 col-xs-12 nav-ico">
	        				<a href="services.html">
		        				<i class="iconfont">&#xe88c;</i>
		        				<p>服务</p>
	        				</a>
	        			</li>
	        			<li class="col-lg-2 col-md-2 col-xs-12 nav-ico">
	        				<a href="#">
		        				<i class="iconfont">&#xe603;</i>
		        				<p>招聘</p>
	        				</a>
	        			</li>
	        			<li class="col-lg-2 col-md-2 col-xs-12 nav-ico">
	        				<a href="contact.html">
		        				<i class="iconfont">&#xe88b;</i>
		        				<p>联系</p>
	        				</a>
	        			</li>
	     			</ul>
   			 	</div><!-- /.navbar-collapse -->
		  	</div> <!-- /.container-fluid -->
		</nav>
	</div>
	<!-- 导航条结束 -->
	<!-- 广告banner开始 -->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	 	 <!-- Indicators -->
		  
	
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
			    <div class="item active ">
			     	<div class="container banner">
			     		<div class="row" style="margin-top: 200px;">
			     			<h3 class="col-lg-12" style="font-size: 24px;color:#fff;font-family:'微软雅黑';">联系我们</h3>
			     			<p class="col-lg-12" style="color:#8CBBCD;font-size: 24px;">CONTACT US</p>
			     			
			     		</div>
			     	</div>
			    </div>
			   
		  </div>
  		<!-- Controls -->
	 
    </div>
<!-- 广告banner结束 -->
<!-- 中间部分开始 -->
<div class="container middlediv contact-content" ng-controller='myaLink'>
	<div class="row alink">
		<a href="" class="col-lg-1" ng-class="{true:'afocus',false:''}[a==1]" ng-click='a=1'>联系方式</a>
		<a href="" class="col-lg-1" ng-class="{true:'afocus',false:''}[a==2]" ng-click='a=2'>留言反馈</a>
		<a href="" class="col-lg-1" ng-class="{true:'afocus',false:''}[a==3]" ng-click='a=3'>常见问题</a>
	</div>
	<div class="mainbody contact-content" ng-show='a==1'>
		<div class="row">
			<p class="col-lg-12 mainbody-contact">联系方式</p>
		</div>
		<div class="row">
			<img src="img/baidumap.jpg" alt="" class="col-lg-5 col-md-5 col-xs-12">
			<img src="img/201510071002142872.jpg" alt="" class="col-lg-6 col-lg-offset-1 col-md-offset-1 col-md-5 col-xs-12">
		</div>	
	</div>	
</div>
<!-- 中间部分结束 -->
<!-- 底部logo开始 -->
<footer class="container col-lg-12 col-md-12 col-xs-12" style="height:auto;background: #E6E6E6;margin-bottom: 20px;">
	<div class="row ">
		<div class="col-lg-offset-2 col-lg-8 footdiv1">
			<div class="col-lg-12 linkdiv">
				<a href="">网站首页</a> / 
				<a href="">关于佳鑫</a> / 
				<a href="">新闻资讯</a> / 
				<a href="">产品服务</a> / 
				<a href="">招聘中心</a> / 
				<a href="">联系我们</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-4 col-md-6 col-xs-12 footdiv2">
			<img src="img/flogo.jpg" alt="" class="img-responsive">
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12 footdiv2">
			<div class="" style="text-align:right; padding-top:1%;">
	            <p> 地址：太原市高新开发区创业街时代广场1408</p>
	            <p>电话：0351-8066903</p>
				<a href="" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
					<img src="http://www.beian.gov.cn/img/ghs.png" style="float:left;">
					<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">晋公网安备 14010502050227号</p>
				</a>
			</div>
		</div>
	</div>
	
</footer>

<!-- 底部logo结束 -->
<!-- 咨询部分开始 -->
<div class="askdiv">
	<a href="">
		<span class="glyphicon glyphicon-user fontspan"></span>
		<span>保险咨询</span>
	</a>
	<a href="">
		<span class="glyphicon glyphicon-user fontspan"></span>
		<span>档案咨询</span>
	</a>
	<a href="">
		<span class="glyphicon glyphicon-user fontspan"></span>
		<span>公积金咨询</span>
	</a>
	<a href="">
		<span class="glyphicon glyphicon-user fontspan"></span>
		<span>业务咨询</span>
	</a>
	<a href="" id="qrcode">
		<span class="glyphicon glyphicon-qrcode fontspan"></span>
		<span>扫一扫关注</span>
	</a>
	<a href="" id="back-to-top">
		<span class="glyphicon glyphicon-arrow-up fontspan"></span>
		<span>返回顶部</span>
	</a>
	<div id="qrcode-show">
		<img src="img/ewm.png" alt="">
	</div>
</div>
<!-- 咨询部分结束 -->
</body>
<script type="text/javascript">
var app = angular.module('jxrl',[]);
	app.controller('myaLink',['$scope',function($s){
		$s.a=1;
	}])
	$('#qrcode').hover(function(){
		$('#qrcode-show').fadeIn(1000);
	},function(){
		$('#qrcode-show').fadeOut(1000);
	})
	$('#back-to-top').click(function(){
		$('html,body').animate({scrollTop:0},200);
		return false;
	})
	
</script>
</html>